.avatar{
    height: 40px;
    width: 40px;
}

.avatarEdit{
    width: 200px;
    height: 200px;
}

.alert-group{
    position:fixed;
    top: 0;
    width: 100%;
}

.cursor{
    border: 0px;
    background: transparent;
}
    .cursor-delete{
        color: red;
    }